.heroSection {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 0 2em;
    height: calc(100vh - 5em);
    margin-top: 5em;

    .content {
        display: flex;
        flex-direction: column;
        row-gap: 4em;
    }

    .leftContent {
        justify-content: center;

        .bigTitle {
            margin-bottom: 6px;
        }

        .text {
            text-transform: uppercase;
        }
    }

    .ImgSection {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

    .heroSection {
        padding: 0 4em;
    
        .content {
            display: flex;
            flex-direction: row;
            row-gap: 4em;
        }

        .leftContent, .rightContent {
            width: 50%;
        }
    }
}

@media screen and (min-width: 991px) {
    .heroSection {
        padding: 0 6em;
    }
}







