@charset "UTF-8";
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --clr-black: #15181f;
  --clr-grey-darker: #bababa;
  --clr-grey: #dddddd;
  --clr-green-darker: #27633d;
  --clr-green: #399259;
  --clr-cyan: #54c4c2;
  --clr-purple: #5726a7;
  --clr-yellow: #dfc349;
  --clr-white: #ffffff;
  --svg-black: invert(0%) sepia(3%) saturate(1633%) hue-rotate(2deg)
    brightness(99%) contrast(94%);
  --box-shadow: 0px 0px 6px 3px rgb(0 0 0 / 11%);
  --boxShadow: 0px 0px 6px 0px #0000001c;
}

.darkMode {
  --clr-black: #dddddd;
  --clr-grey-darker: #222632;
  --clr-grey: #15181f;
  --clr-green: #399259;
  --clr-cyan: #54c4c2;
  --clr-purple: #6c36c1;
  --clr-yellow: #dfc349;
  --svg-black: invert(95%) sepia(0%) saturate(0%) hue-rotate(97deg)
    brightness(90%) contrast(103%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-black);
  background-color: var(--clr-grey);
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
}
body .App {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/*  */
.section__title,
.contact__link,
.card__title {
  color: var(--clr-black);
}

.text,
.card__subtitle,
.nav__link,
.iconMedia {
  color: var(--clr-grey);
}

.nav__link:hover {
  color: var(--clr-green);
}

#site,
.navigation,
.navigation.active,
.menuMobile,
.nav__link:hover {
  background: var(--clr-grey);
}

.text,
.nav__link,
.outline-title {
  color: var(--clr-black);
}

.big-title {
  font-weight: 900;
}

.outline-text {
  color: var(--clr-grey);
  -webkit-text-stroke: 1px var(--clr-black);
}

.text {
  font-size: clamp(18px, 2vw, 27px);
  line-height: 130%;
}

.verticalText {
  writing-mode: vertical-lr;
  text-orientation: initial;
}

.button {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  min-width: 100px;
  padding: 2px 15px;
}

.button-style {
  border: 1px solid var(--clr-black);
  color: var(--clr-black);
  border-radius: 50px;
  transition: all 0.5s;
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--clr-grey);
}

.nav-link:hover {
  color: var(--clr-green);
}

@media (min-width: 320px) {
  .switchMode input[type=checkbox].btnSwitchMode {
    display: none;
  }
  .switchMode input[type=checkbox].btnSwitchMode + label {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 3rem;
    height: 1.6rem;
    padding: 2px;
    border-radius: 20px;
    background: var(--clr-grey);
    border: 1px solid var(--clr-black);
  }
  .switchMode input[type=checkbox].btnSwitchMode + label::before {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "☼";
    height: calc(1.5rem - 5px);
    width: calc(1.5rem - 5px);
    border-radius: 50%;
    background-color: #dddddd;
  }
  .switchMode input[type=checkbox].btnSwitchMode:checked + label {
    background-color: var(--clr-grey);
  }
  .switchMode input[type=checkbox].btnSwitchMode:checked + label::before {
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "☾";
    color: var(--clr-black);
    background-color: var(--clr-grey);
  }
  .menu {
    display: none;
    animation: dropMenu 0.5s ease-in;
  }
  .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 73px;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -10;
    row-gap: 2rem;
    padding: 2rem;
    background: var(--clr-grey);
  }
  .link {
    text-decoration: none;
    color: var(--clr-black);
    text-transform: uppercase;
    font-weight: --var(regular);
    font-size: clamp(1rem, 1vw, 2rem);
    padding: 0.5em;
  }
  .btnBurger {
    display: block;
    position: relative;
    height: 10px;
    width: 40px;
  }
}
.btnBurger::before, .btnBurger::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--clr-black);
}

.btnBurger::before {
  position: absolute;
  top: 0;
  right: 0;
}

.btnBurger::after {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 567px) {
  .content {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 765px) {
  .logo img {
    height: 50px;
  }
  .content {
    padding: 1rem 5rem;
  }
  .btnBurger {
    display: none;
  }
  .menu {
    position: inherit;
    display: flex;
    height: inherit;
    width: auto;
    animation: inherit;
    background-color: inherit;
    box-shadow: inherit;
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@keyframes dropMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
.hero {
  height: 90vh;
  row-gap: 9rem;
}

.big-title span {
  color: var(--clr-grey);
  -webkit-text-stroke: 1px var(--clr-black);
}

.hero-cta {
  height: 50px;
  width: 50px;
  background: var(--clr-green);
  border-radius: 50px;
}

.outline-text {
  color: transparent;
}

.card {
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 5/3;
}/*# sourceMappingURL=index.css.map */