.section {
    
    display: flex;
    flex-direction: column;   
    padding: 2em; 
    margin-bottom: 2em;
    
    .content {
        flex-direction: column;
        display: flex;

        .wrapContent {
            display: flex;
            flex-direction: column;
        }
    }
    
    .content-reverse {        
        flex-direction: column-reverse;
        
        .leftContent {        
            display: flex;
            flex-direction: column;   
        }       
    }

    .ImgSection {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .section {

        .content {
            flex-direction: column;
            display: flex;
    
            .wrapContent {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .leftContent, .rightContent {
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding: 5em 4em;
        min-height: 90vh;
        justify-content: center;

        .content {
            max-width: 1600px;
            //align-self: center;
        }

        .wrapContent {
            flex-direction: inherit;
        }
    }
}

@media screen and (min-width: 991px) {

    .section {
        padding: 5em 6em;
    }
    
}