.socialMediaIcons {
    
    .containerIcons {
        display: flex;
        flex-direction: row;        
        //justify-items: center;        
        column-gap: 2em;

        a {
            text-decoration: inherit;
        }

        .iconMedia {
            color: $clr-grey;
            text-decoration: none;
            font-size: 2.2em;
        }
    }
}

.heroSection {
    position: relative;
    
    .socialMediaIcons {
        position: absolute;
        bottom: 4em;
        right: 2em;

        .containerIcons {            
            justify-content: flex-end;
            column-gap: 2em; 
        }
    }
}

footer {
    .containerIcons {
        justify-content: center;
    }
}

