.containerCards {
    display: flex;
    flex-direction: column;
    row-gap: 3em;

    .card {
        width: 100%;
        position: relative;
        margin: auto;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-direction: row;
        column-gap: 1em;
        flex-wrap: wrap;
    }
}

.projectNumber {
    font-size: $bigNumber;
    font-weight: 900;
    width: fit-content; 
}

.outlines {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $clr-grey;
    font-weight: bold;
    color: transparent; 
    z-index: 1; 
    opacity: .3;  
}

.cardRichText {        
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 1.2em;       
    
    .cardTitle {
        font-size: $smallTitle;        
        font-weight: 800;        
        text-transform: uppercase;
        margin-bottom: 0.5em;
        letter-spacing: 1px;
    }

    .cardSubtitle {
        font-size: $smallText;
        a {
            color: $clr-grey;            
        }                
    }
} 

.blockLink {
    margin: auto;
    max-width: 900px;
    width: 100%;
    position: relative;
    bottom: 2em;

    .cardContainerImage {
        height: 50vmin;
        width: 100%;
        right: 0;
        bottom: 2em; 
        overflow: hidden; 
        box-shadow: $boxShadow; 
        cursor: pointer; 
        border-radius: 10px;
        // position: relative;

        &::after {
            content: "see more details";
            position: absolute;
            bottom: 15px;  
            right: 50%;
            transform: translateX(50%);
            background-color: $clr-green;
            font-size: .8em;
            text-transform: uppercase;
            font-weight: bold;
            color: $clr-black;
            padding: .7em 1.5em;
            border-radius: 5px;
        }

        .cardImg {
            width: 100%;
            filter: saturate(0);
        }
        
        &:hover {
            transition: .5s; 
            .cardImg {
                filter: brightness(0.7);
            }
        }       
    }
}


@media screen and (min-width: 768px) {

    .containerCards {
        margin: auto;
    }

    .card {
        max-width: 1000px;        
    }
}




