$clr-nisaa: #F0D0B9;

.sectionMockup {
    position: relative;

    figure {
        margin: 2em 0;
    }

    &::after {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 2em;
        z-index: -1;
        clip-path: inset(15% 15% 10% 0);
        background: $clr-nisaa;
    }    

    .mockup {
        display: flex;
    }

    .mockup img {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: $boxShadow;
    }

    //mockup full page desktop
    .mockupFull {        
        justify-content: space-between;

        img {
            width: 45%;
            //height: 100%;
        }

        img:nth-child(2) {
            margin-top: 2em;
        }  
    } 
    
    //mockup mobile
    .mockupMobile {
        justify-content: space-between;

        img {
            width: 30%;
            height: 100%;
        }
    }
}

.sectionMoreDetails {
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}