.card {
    width: 100%;
    position: relative;
    margin: auto;

    .wrapTextCard {
        display: flex;
    }
}

.cardContent {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-direction: row;
    column-gap: 1em;
    flex-wrap: wrap;
}

.projectNumber {
    font-size: $bigNumber;
    font-weight: 900;
    width: fit-content; 
}

.outlines {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $clr-grey;
    font-weight: bold;
    color: transparent; 
    z-index: 1; 
    opacity: .3;  
}

.cardRichText {        
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 1.2em;       
    
    .cardTitle {
        font-size: $smallTitle;        
        font-weight: 800;        
        text-transform: uppercase;
        margin-bottom: 0.5em;
        letter-spacing: 1px;
    }

    .cardSubtitle {
        font-size: $smallText;
    }
} 

.blockLink {
        position: relative;
        right: 0;
        bottom: 2em;

        .cardContainerImage {
            height: 49vmin;
            width: 90%;
            background: lightgrey;    
            margin: 0 auto;
            overflow: hidden; 
            box-shadow: $boxShadow; 
            cursor: pointer; 
            border-radius: 10px;
        
        &:hover {
            
            .cardImg {
                filter: brightness(0.7);
            }
        }
        
        .cardImg {
            width: 100%;
            filter: saturate(0);
        }   
    }
}



@media screen and (min-width: 768px) {

    .containerCards {
        margin: auto;
    }

    .card {
        max-width: 1000px;        
    }
}




