.about {

    .big-title {
        font-size: clamp(45px, 5vw, 100px);
    }

    .text {
        font-size: clamp(16px, 2vw, 19px);
        line-height: 130%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;        
        justify-content: space-between;
    }

    &__left {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;

        &__container-img {
            display: flex;
            flex-direction: row;
            height: 350px;
            width: 100%;            
            overflow: hidden;
            border-radius: 5px;
        }

        &__img {
            display: block;
            height: 100%;
            object-fit: cover;
            animation: slideImage 31s infinite linear;
        }
    }

    &__right {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        &__title {
            margin-bottom: 2rem;
        }
    }
}

@keyframes slideImage {
    0% {
        transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
    }

    100% {
        transform: translate(-100%, 0%) translate3d(0px, 0px, 0px);
    }
}

// @media screen and (min-width: 567px) {}
//@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {

    #about {
        max-height: 90vh;
    }

    .about {

        &__wrapper {
            display: flex;
            flex-direction: row;        
            justify-content: space-between;
            column-gap: 4rem;
        }

        &__left {
            //flex: 1;
            width: 45%;
            margin-top: 0px;

            &__container-img {                
                height: 100%;
                //max-width: 500px;
                max-height: 70vh;               
            }
        }

        &__right {
            //flex: 1;
            width: 55%;
            max-width: 1000px;
            margin-top: 10px;
            justify-content: center;
        }       
    }    
}

