.articles {    
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-content: center;
    gap: 3em;
    
    &:nth-child(1) {
        margin-bottom: 5em;
    }

     * {
        margin-bottom: .7em;
    }

    .exp-block {
        margin-bottom: 25px;     
    
        .periode, .lieu, .description {
            margin-left: 1em;
            margin-top: 5px;
        }
    }
}
