.articles {    
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 1200px;
    gap: 3em;
    
    &:nth-child(1) {
        margin-bottom: 5em;
    }

     * {
        margin-bottom: .7em;
    } 
    
    .articles__article {
        display: grid;
        grid-template-columns: 1fr 2fr; 
        column-gap: .5em;       
    }
}
