.contact__links {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    @media screen and(min-width: 568px) {
        flex-direction: row;
        column-gap: 1em;
        row-gap: 0;
    }
    justify-content: center;
    align-items: center;
    column-gap: 4em; 
    margin: 3em 0;         
}

.contact__link {
    border: hidden;
    width: 175px;
    max-width: 200px;
    padding: 1em 1.5em;
    text-transform: uppercase;
    color: var(--clr-white);
    background: var(--clr-green);
    font-weight: $light;
    text-align: center;    
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.7rem;
    
    cursor: pointer;
    border-radius: 5px;
    transition: all .4s;
    opacity: 1;
    @media screen and(min-width: 568px) {
        opacity: 7; 
    }

    &:hover {
        opacity: 1;   
    }

    .contact__link__icon {
        width: 12px;
    }
}

#email {
    background: #0072c5;
}

#github {
    background: #000000;
}

#linkedin {
    background: #0961b8;
}

@media screen and(min-width: 768px) {
    .button {        
        letter-spacing: 1px;       
    }
}