.containerButton {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: center;
    column-gap: 4em; 
    margin: 3em 0;         
}

.contact__button {
    border: hidden;
    padding: 1em 1.5em;
    text-transform: uppercase;
    color: var(--clr-grey);
    background: var(--clr-green);
    text-align: center;    
    font-size: .7em;
    letter-spacing: 1px;
    
    cursor: pointer;
    border-radius: 5px;
    transition: all .4s;

    &:hover {
        background: var(--clr-purple);
    }
}

@media screen and(min-width: 768px) {
    .button {        
        letter-spacing: 1px;       
    }
}