.section-contact {
    
    &__left {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    .contact__form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        &__input {
            height: 45px;
            border-radius: 5px;
        }

        &__button {
            height: 45px;
            border-radius: 5px;
        }
    }
}