.hero {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 0 2em;
    height: 100vh;
    max-height: 800px;
    // margin-bottom: 5em; 
    
    &__title {
        font-size: $bigTitle;
        // font-weight: $bold;
        // text-transform: uppercase;
        color: var(--clr-black);
        margin-bottom: 6px;

        & span {
            font-weight: bold;
        }
    }

    &__gradient-title {  
        font-weight: $bold;
        text-transform: uppercase; 
        font-size: clamp(110px, 11vw, 300px);
        background: linear-gradient(to right, 
        #54c4c2 20%, 
        #dfc349 40%, 
        #bd54c5 60%, 
        #54c47d 80%);
        background-size: 200% auto;    
        
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        animation: shine 30s linear infinite;
        @keyframes shine {
        to {
            background-position: 200% center;
            }
        }
    }

    &__text {
        color: var(--clr-black);
        text-transform: uppercase;
    }
    


    &__right {
        position: relative;
        overflow: hidden;
        height: 250px;
    
        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0.5%;
            width: 100%;
            height: 85%;
            z-index: 0;
            background: linear-gradient(to right, 
            #54c4c2 20%, 
            #dfc349 40%, 
            #bd54c5 60%, 
            #54c47d 80%);
            background-size: 200% auto;
            animation: shine 30s linear infinite;
            @keyframes shine {
            to {
                background-position: 200% center;
                }
            }
            opacity: .4;
        }

        &__img {
            display: block;
            width: auto;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
            max-height: 330px;
            z-index: 1;
        }
    }
}

@media screen and (min-width: 768px) {

    .hero {
        padding: 0 4em;       
    }
}

@media screen and (min-width: 991px) {
    .hero {
        padding: 0 6em;
        justify-content: center;
    }    
}







