#outils .outils-container {  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px; 
    justify-items: center;  
    align-items: center;     

    .logo_tech {
        width: 100%;
        max-width: 50px;
    }
}

