.section {    
    display: flex;
    flex-direction: column;   
    padding: 2em; 
    margin-bottom: 2em;   
    
    .content {
        flex-direction: column;
        display: flex;

        .wrapper-form-exp {
            display: flex; 
            flex-direction: column;           
            column-gap: 5em;
            justify-content: space-between;
        }
        
    }
    
    .content-reverse {        
        flex-direction: column-reverse;
        
        .leftContent {        
            display: flex;
            flex-direction: column;   
        }       
    }

    .ImgSection {
        display: block;
        width: 100%;
    }
}

//project section introduction 

.section.intro {
    min-height: 50vh;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .section {        
        padding: 5em 4em;        
        justify-content: center;

        .content {
            flex-direction: column;
            display: flex;
            row-gap: 5em;
            max-width: 1600px;

            .wrapper-form-exp {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 5em; 
                justify-items: center;           
            }

            .leftContent, .rightContent {
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 991px) {

    .section {
        padding: 5em 6em;
    }
    
}