.work {
    margin-bottom: 9.3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;

    .container-title {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 1.5rem;
        @media screen and (min-width: 768px) {
            left: 5rem;
        }
    }

    // .wrap-title {
    //     display: flex;
    //     flex-direction: row;
    //     overflow: hidden;
    //     margin-bottom: 5rem;
    //     transform: rotate(-5deg);
    // }

    &__title {
        animation: slideText 15s infinite linear;
        flex: none;
    }   
    
    .cards-container {
        display: flex;
        flex:  0 0 80%;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 7rem;  
    }
}

@keyframes slideText {
    0% {
        transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
    }

    100% {
        transform: translate(0%, -100%) translate3d(0px, 0px, 0px);
    }
}

// @media screen and (min-width: 567px) {}

@media screen and (min-width: 768px) {
    .work { 
        &__wrapTitles {
            margin-bottom: 7rem;
        }
    }
}