.header {
    display: flex;    
    align-items: center;
    padding: 0 2em;
    height: calc(100vh - 5em);
    margin-top: 5em;    

    .rightContent {
        position: absolute;
        width: 80%;
        height: calc(100vh - 100px);
        bottom: 0;
        right: 0;
        z-index: -1;
        filter: brightness(0.7);
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 4em;
    }
}

@media screen and (min-width: 991px) {
    .header {
        padding: 0 6em;
    }
}