.section {    
    display: flex;
    flex-direction: column;   
    padding: 2em; 
    margin-bottom: 2em;   
    
    .content {
        flex-direction: column;
        display: flex;        

        .wrapContent {
            display: flex;
            flex-direction: column;
        }
    }
    
    .content-reverse {        
        flex-direction: column-reverse;
        
        .leftContent {        
            display: flex;
            flex-direction: column;   
        }       
    }

    .ImgSection {
        display: block;
        width: 100%;
    }
}

//project section introduction 

.section.intro {
    min-height: 50vh;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .section {        
        padding: 5em 4em;        
        justify-content: center;        

        .wrapContent {
            flex-direction: inherit;
        }       

        .content {
            flex-direction: column;
            display: flex;
            row-gap: 5em;
            max-width: 1600px;
    
            .wrapContent {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .leftContent, .rightContent {
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 991px) {

    .section {
        padding: 5em 6em;
    }
    
}