.containerButton {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-around; 
    margin: 3em 0;   
}

.button {
    border: hidden;
    padding: 1em .5em;
    width: 110px;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 1px;
    color: $clr-green;
    background: transparent;
    border: 1px solid $clr-green;
}