// colors 
$clr-black: #15181f;
$clr-grey: #dddddd;
$clr-gradient: linear-gradient(#FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);

//box-shadow
$boxShadow: 0px 0px 13px 0px #0000008f;

//responsive font-size
$bigTitle: clamp(25px, 3vw, 50px);
$smallTitle: clamp(13px, 3vw, 25px); 
$text-size: clamp(12px, 2vw, 21px);
$smallText: clamp(12px, 2vw, 16px);
$bigNumber: clamp(100px, 15vw, 200px);
// $cardTitle: clamp()

//fonts weight
$light: 300;
$regular: 500;
$bold: 900;

//letter-spacing
$space2: 2px;