/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* colors */
  --clr-black: #15181f;
  --clr-grey-darker: #bababa;    
  --clr-grey: #e5e5e5;
  --clr-green-darker: #27633d;
  --clr-green: #399259;
  --clr-cyan: #54c4c2;
  --clr-purple: #5726a7;
  --clr-yellow: #dfc349;
  --clr-white: #f2f2f2;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--clr-white);
  

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  /* line-height: 1.6; */
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {       
  --clr-black: #dddddd;
  --clr-grey-darker: #222632;
  --clr-grey: #15181f;
  --clr-green: #399259;
  --clr-cyan: #54c4c2;
  --clr-purple: #6c36c1;
  --clr-yellow: #dfc349; 
  --svg-black: invert(95%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(90%) contrast(103%);   
}


.container {
  margin: auto;
  padding: 20px 25px;
}

.outline-title {
  -webkit-text-stroke: 2px var(--clr-black);    
  font-weight: bold;
  color: transparent; 
  z-index: 1; 
  opacity: .3;
  text-transform: uppercase;    
}

.big-title {
  font-size: clamp(55px, 8vw, 120px);
  font-weight: 900;
  text-transform: uppercase;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: initial;
}

.container-keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 4px;
}
.keyword {
  font-size: 13px;
  padding: 5px 15px;
  border: 1px solid var(--clr-black);
  
  color: var(--clr-black);
  line-height: 100%;
}

.rounded {
  border-radius: 25px;
}

@media screen and (min-width: 765px) {
  .container {
    max-width: 1260px;
    padding: 0 50px;
  }
} 
