@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelly-font-regular {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pixelly-font-medium {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.pixelly-font-semibold {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.pixelly-font-bold {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
