// colors 

html {
    scroll-behavior: smooth;
}

#site, .navigation {
    transition: .7s;
}

#site {    
    max-width: 1900px;
}

:root {
    --clr-black: #15181f;
    --clr-lighterblack: #00000019;    
    --clr-grey: #dddddd;
    --clr-green: #399259;
    --clr-cyan: #54c4c2;
    --clr-purple: #5726a7;
    --clr-yellow: #dfc349;
    --clr-white: #ffffff;
    --svg-black: invert(0%) sepia(3%) saturate(1633%) hue-rotate(2deg) brightness(99%) contrast(94%);
}

.dark-mode {       
    --clr-black: #dddddd;
    --clr-lighterblack: #222632;
    --clr-grey: #15181f;
    --clr-green: #399259;
    --clr-cyan: #54c4c2;
    --clr-purple: #6c36c1;
    --clr-yellow: #dfc349; 
    --svg-black: invert(95%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(90%) contrast(103%);   
}

// .slide-mode-desktop {
//     display: block;
// }

.slider-mode {   

    input[type="checkbox"].btnSwitchMode {
        display: none;        
    }

    input[type="checkbox"].btnSwitchMode + label {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        width: 3rem;        
        height: 1.6rem;
        padding: 2px;
        border-radius:20px;
        background: var(--clr-grey);
        border: 1px solid var(--clr-black);
        transition: all .4s;
        
    }

    input[type="checkbox"].btnSwitchMode + label::before {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "☼";        
        height: calc(1.5rem - 5px);
        width: calc(1.5rem - 5px);
        border-radius: 50%;       
        background-color: #dddddd;
        transition: all .4s;
    }    

    input[type="checkbox"].btnSwitchMode:checked + label {
        background-color: var(--clr-grey);                
    }

    input[type="checkbox"].btnSwitchMode:checked + label::before {
        margin-left: 1.5rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        content: "☾";
        color: var(--clr-black); 
        background-color: var(--clr-grey);              
    }   
}

.heroSection.bigTitle, .bigTitle, .contact__link, .card__title {
    color: var(--clr-black);
}

.text, .card__subtitle, .outlines, .nav__link, .button:hover, .iconMedia {
    color: var(--clr-grey);
}

.nav__link:hover {
    color: var(--clr-green);
}

#site, .navigation, .navigation.active, .menuMobile, .nav__link:hover  {        
    background: var(--clr-grey);
}

.text, .nav__link, .bigOutlineTitle {
    color: var(--clr-black);
}

.bigOutlineTitle {
    opacity: .1;
}    

//box-shadow
$boxShadow: 0px 0px 10px 0px #0000003b;

//responsive font-size
$bigTitle: clamp(25px, 4vw, 50px);
$text-size: clamp(12px, 2vw, 17px);
$smallText: clamp(11px, 2vw, 15px);
$bigNumber: clamp(20px, 7vw, 70px);
$callToAction: clamp(11px, 1vw, 16px);
 $bigOutlineTitle: clamp(35px, 10vw, 200px);

//fonts weight
$light: 300;
$regular: 500;
$bold: 900;

//letter-spacing
$space2: 2px;

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    // background: --clr-black;

    .App {
        position: relative;
    }
}

.wrapTitles {
    position: relative;
    margin: 2em 0 4em;  

    .bigOutlineTitle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);            
        text-transform: uppercase;
        font-size: $bigOutlineTitle;
        left: 45px;
        z-index: 0;
    }
}

.bigTitle {
    font-size: $bigTitle;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 110%;  
}

.outlines {
    -webkit-text-stroke: 1px var(--clr-black);    
    font-weight: bold;
    color: transparent; 
    z-index: 1; 
    opacity: .3;  
}

.text {    
    font-size: $text-size;
    line-height: 125%;    
}

//font-weight
.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

//font style
.italic {
    font-style: italic;
}

//

.callToAction {
    position: absolute;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

//linear gradient 

.gradient-title {   
    background: linear-gradient(to right, 
    #54c4c2 20%, 
    #dfc349 40%, 
    #bd54c5 60%, 
    #54c47d 80%);
    background-size: 200% auto;    
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 30s linear infinite;
    @keyframes shine {
    to {
        background-position: 200% center;
        }
    }
}