@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
#site, .navigation {
  -webkit-transition: .7s;
  transition: .7s;
}

:root {
  --clr-black: #15181f;
  --clr-lighterblack: #00000019;
  --clr-grey: #dddddd;
  --clr-green: #399259;
  --clr-cyan: #54c4c2;
  --clr-purple: #5726a7;
  --clr-yellow: #dfc349;
}

.dark-mode {
  --clr-black: #dddddd;
  --clr-lighterblack: #222632;
  --clr-grey: #15181f;
  --clr-green: #54c47d;
  --clr-cyan: #54c4c2;
  --clr-purple: #6c36c1;
  --clr-yellow: #dfc349;
}

.slider-mode input[type="checkbox"].btnSwitchMode {
  display: none;
}

.slider-mode input[type="checkbox"].btnSwitchMode + label {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 3rem;
  height: 1.6rem;
  padding: 2px;
  border-radius: 20px;
  background: var(--clr-grey);
  border: 1px solid var(--clr-black);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.slider-mode input[type="checkbox"].btnSwitchMode + label::before {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "☼";
  height: calc(1.5rem - 5px);
  width: calc(1.5rem - 5px);
  border-radius: 50%;
  background-color: #dddddd;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.slider-mode input[type="checkbox"].btnSwitchMode:checked + label {
  background-color: var(--clr-grey);
}

.slider-mode input[type="checkbox"].btnSwitchMode:checked + label::before {
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "☾";
  color: var(--clr-black);
  background-color: var(--clr-grey);
}

.heroSection.bigTitle, .bigTitle, .containerButton, .card__title {
  color: var(--clr-black);
}

.text, .card__subtitle, .outlines, .linkNav, .button:hover, .iconMedia {
  color: var(--clr-grey);
}

.linkNav:hover {
  color: var(--clr-green);
}

#site, .navigation, .navigation.active, .menuMobile, .linkNav:hover {
  background: var(--clr-grey);
}

.text, .linkNav, .bigOutlineTitle {
  color: var(--clr-black);
}

.bigOutlineTitle {
  opacity: .1;
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body .App {
  position: relative;
}

.wrapTitles {
  position: relative;
  margin: 2em 0 4em;
}

.wrapTitles .bigOutlineTitle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  font-size: clamp(35px, 10vw, 200px);
  left: 45px;
  z-index: 0;
}

.bigTitle {
  font-size: clamp(25px, 4vw, 50px);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 110%;
}

.outlines {
  -webkit-text-stroke: 1px var(--clr-black);
  font-weight: bold;
  color: transparent;
  z-index: 1;
  opacity: .3;
}

.text {
  font-size: clamp(12px, 2vw, 17px);
  line-height: 125%;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.italic {
  font-style: italic;
}

.callToAction {
  position: absolute;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

.gradient-title {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #54c4c2), color-stop(40%, #dfc349), color-stop(60%, #bd54c5), color-stop(80%, #54c47d));
  background: linear-gradient(to right, #54c4c2 20%, #dfc349 40%, #bd54c5 60%, #54c47d 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 30s linear infinite;
          animation: shine 30s linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navigation #navContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5em;
}

.navigation a {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navigation #nav__logo img {
  display: block;
  height: 25px;
  cursor: pointer;
  padding: .5em 0;
}

.navigation #nav__logo img path {
  fill: red;
}

@media screen and (min-width: 768px) {
  .navigation #nav__logo img {
    height: 30px;
  }
}

.navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation #btnBurger {
  display: none;
}

#nav__logo, .linkNav {
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.linkNav {
  font-weight: 300;
  font-size: clamp(12px, 1vw, 16px);
  padding: .5em;
  position: relative;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.menuMobile, .menu.active {
  display: none;
}

.navigation.active {
  -webkit-box-shadow: 0px 0px 10px 0px #0000003b;
          box-shadow: 0px 0px 10px 0px #0000003b;
}

@media screen and (max-width: 992px) {
  .navigation #navContent {
    padding: 1em 2em;
  }
  .navigation #menuDesktop {
    display: none;
  }
  .navigation #btnBurger {
    display: block;
    height: 20px;
    width: 50px;
    position: relative;
    cursor: pointer;
  }
  .navigation #btnBurger::before, .navigation #btnBurger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--clr-black);
  }
  .navigation #btnBurger::before {
    top: 0;
  }
  .navigation #btnBurger::after {
    bottom: 0;
  }
  .menuMobile {
    display: none;
  }
  .menuMobile.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: calc(100vh - 73px);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5em 3em 0;
    -webkit-box-shadow: 0px 0px 10px 0px #0000003b;
            box-shadow: 0px 0px 10px 0px #0000003b;
  }
  .menuMobile.active ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2em;
  }
  .menuMobile.active .containerIcons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: .5em;
  }
  .menuMobile.active .containerIcons .iconMedia {
    font-size: 1.8em;
  }
}

.richText {
  max-width: 800px;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 1200px;
  gap: 3em;
}

.articles:nth-child(1) {
  margin-bottom: 5em;
}

.articles * {
  margin-bottom: .7em;
}

.articles .articles__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: .5em;
          column-gap: .5em;
}

.containerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4em;
          column-gap: 4em;
  margin: 3em 0;
}

.contact__button {
  border: hidden;
  padding: 1em 1.5em;
  text-transform: uppercase;
  color: var(--clr-grey);
  background: var(--clr-green);
  text-align: center;
  font-size: .7em;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.contact__button:hover {
  background: var(--clr-purple);
}

@media screen and (min-width: 768px) {
  .button {
    letter-spacing: 1px;
  }
}

.callToAction {
  position: absolute;
  bottom: 4.5em;
  right: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.callToAction a {
  text-decoration: none;
  font-size: clamp(11px, 1vw, 16px);
}

.containerCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  gap: 1em;
}

.card {
  width: 100%;
  bottom: 2em;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px #00000021;
          box-shadow: 0px 0px 5px 0px #00000021;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.card .card__header {
  max-height: 275px;
  width: 100%;
  overflow: hidden;
}

.card .card__header .card__img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.card:hover .card__img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card .blockLink {
  width: 100%;
}

.card .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  background-color: var(--clr-lighterblack);
}

.card .card__body .card__project__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card__body .card__title {
  font-size: clamp(9px, 2vw, 19px);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.card .card__body .card__subtitle {
  font-size: clamp(8px, 2vw, 15px);
  color: var(--clr-black);
}

@media screen and (min-width: 768px) {
  .containerCards {
    margin: auto;
  }
  .card {
    max-width: 1000px;
  }
  .card .card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.5em;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
  height: 100vh;
  max-height: 800px;
}

.heroSection .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heroSection .leftContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroSection .leftContent .bigTitle {
  color: var(--clr-black);
  margin-bottom: 6px;
}

.heroSection .leftContent .text {
  text-transform: uppercase;
}

.heroSection .rightContent {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.heroSection .rightContent::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.5%;
  width: 100%;
  height: 85%;
  z-index: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #54c4c2), color-stop(40%, #dfc349), color-stop(60%, #bd54c5), color-stop(80%, #54c47d));
  background: linear-gradient(to right, #54c4c2 20%, #dfc349 40%, #bd54c5 60%, #54c47d 80%);
  background-size: 200% auto;
  -webkit-animation: shine 30s linear infinite;
          animation: shine 30s linear infinite;
  opacity: .4;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.heroSection .heroImg {
  display: block;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 330px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .heroSection {
    padding: 0 4em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .heroSection .rightContent {
    height: 400px;
  }
  .heroSection .heroImg {
    max-height: 450px;
  }
}

@media screen and (min-width: 991px) {
  .heroSection {
    padding: 0 6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .heroSection .content {
    -webkit-column-gap: 3em;
            column-gap: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .heroSection .rightContent {
    width: 50%;
  }
}

#outils .outils-container {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--clr-lighterblack);
  padding: 1.5rem;
  border-radius: 1.5rem;
}

#outils .outils-container .logo_tech {
  width: auto;
  max-height: 25px;
}

@media screen and (min-width: 768px) {
  #outils .outils-container {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  #outils .outils-container .logo_tech {
    width: auto;
    max-height: 50px;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  margin-bottom: 2em;
}

.section .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .content .wrapper-form-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 5em;
          column-gap: 5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .content-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.section .content-reverse .leftContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .ImgSection {
  display: block;
  width: 100%;
}

.section.intro {
  min-height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 5em 4em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 5em;
    max-width: 1600px;
  }
  .section .content .wrapper-form-exp {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5em;
            column-gap: 5em;
    justify-items: center;
  }
  .section .content .leftContent, .section .content .rightContent {
    width: 50%;
  }
}

@media screen and (min-width: 991px) {
  .section {
    padding: 5em 6em;
  }
}

.socialMediaIcons .containerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.socialMediaIcons .containerIcons a {
  text-decoration: inherit;
}

.socialMediaIcons .containerIcons .iconMedia {
  color: var(--clr-grey);
  text-decoration: none;
  font-size: 2.2em;
  opacity: .5;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.socialMediaIcons .containerIcons .iconMedia:hover {
  color: var(--clr-green);
  opacity: 1;
}

.heroSection {
  position: relative;
}

.heroSection .socialMediaIcons {
  position: absolute;
  bottom: 4em;
  right: 2em;
}

.heroSection .socialMediaIcons .containerIcons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.viewMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2em;
}

.viewMore .title {
  text-align: center;
}

.viewMore a {
  text-decoration: none;
}

.viewMore img {
  width: 80%;
  display: block;
  margin: auto;
}

footer {
  background: var(--clr-lighterblack);
  margin-bottom: 0;
}

footer .section {
  margin-bottom: 0;
}

footer .container-icons-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

footer .footer__icon-social {
  width: 35px;
}

footer #github-icon {
  fill: var(--clr-grey);
}
/*# sourceMappingURL=index.css.map */