@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

#site, .navigation {
  -webkit-transition: .7s;
  transition: .7s;
}

#site {
  max-width: 1900px;
}

:root {
  --clr-black: #15181f;
  --clr-lighterblack: #00000019;
  --clr-grey: #dddddd;
  --clr-green: #399259;
  --clr-cyan: #54c4c2;
  --clr-purple: #5726a7;
  --clr-yellow: #dfc349;
  --clr-white: #ffffff;
  --svg-black: invert(0%) sepia(3%) saturate(1633%) hue-rotate(2deg) brightness(99%) contrast(94%);
}

.dark-mode {
  --clr-black: #dddddd;
  --clr-lighterblack: #222632;
  --clr-grey: #15181f;
  --clr-green: #399259;
  --clr-cyan: #54c4c2;
  --clr-purple: #6c36c1;
  --clr-yellow: #dfc349;
  --svg-black: invert(95%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(90%) contrast(103%);
}

.section__title, .contact__link, .card__title {
  color: var(--clr-black);
}

.text, .card__subtitle, .nav__link, .iconMedia {
  color: var(--clr-grey);
}

.nav__link:hover {
  color: var(--clr-green);
}

#site, .navigation, .navigation.active, .menuMobile, .nav__link:hover {
  background: var(--clr-grey);
}

.text, .nav__link, .outline-title {
  color: var(--clr-black);
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body .App {
  position: relative;
}

.section-padding {
  padding: 3rem 2rem;
}

@media screen and (min-width: 567px) {
  .section-padding {
    padding: 5em 4em;
  }
}

@media screen and (min-width: 768px) {
  .section-padding {
    padding: 5rem 5rem;
  }
}

.section-margin-bottom {
  margin-bottom: 9.3rem;
}

.big-title {
  font-size: clamp(55px, 9vw, 200px);
  font-weight: 900;
  text-transform: uppercase;
}

.outline-title {
  -webkit-text-stroke: 2px var(--clr-black);
  font-weight: bold;
  color: transparent;
  z-index: 1;
  opacity: .3;
  text-transform: uppercase;
}

.text {
  font-size: clamp(18px, 2vw, 27px);
  line-height: 130%;
}

.vertical-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: initial;
}

.callToAction {
  position: absolute;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

.gradient-title {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #54c4c2), color-stop(40%, #dfc349), color-stop(60%, #bd54c5), color-stop(80%, #54c47d));
  background: linear-gradient(to right, #54c4c2 20%, #dfc349 40%, #bd54c5 60%, #54c47d 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 30s linear infinite;
          animation: shine 30s linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@media screen and (min-width: 320px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .navigation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
  }
  .navigation__logo img {
    display: block;
    height: 25px;
    padding: .5em 0;
    -webkit-filter: var(--svg-black);
            filter: var(--svg-black);
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .navigation__logo img {
    height: 30px;
  }
}

@media screen and (min-width: 320px) {
  .navigation__switch-mode input[type="checkbox"].btnSwitchMode {
    display: none;
  }
  .navigation__switch-mode input[type="checkbox"].btnSwitchMode + label {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    width: 3rem;
    height: 1.6rem;
    padding: 2px;
    border-radius: 20px;
    background: var(--clr-grey);
    border: 1px solid var(--clr-black);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .navigation__switch-mode input[type="checkbox"].btnSwitchMode + label::before {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    content: "☼";
    height: calc(1.5rem - 5px);
    width: calc(1.5rem - 5px);
    border-radius: 50%;
    background-color: #dddddd;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .navigation__switch-mode input[type="checkbox"].btnSwitchMode:checked + label {
    background-color: var(--clr-grey);
  }
  .navigation__switch-mode input[type="checkbox"].btnSwitchMode:checked + label::before {
    margin-left: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    content: "☾";
    color: var(--clr-black);
    background-color: var(--clr-grey);
  }
  .navigation__menu {
    display: none;
    -webkit-animation: dropMenu .5s ease-in;
            animation: dropMenu .5s ease-in;
  }
  .navigation__menu-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    row-gap: 2rem;
    padding: 2rem;
    background: var(--clr-grey);
    -webkit-box-shadow: 0px 0px 10px 0px #0000003b;
            box-shadow: 0px 0px 10px 0px #0000003b;
  }
  .navigation__menu__link {
    text-decoration: none;
    color: var(--clr-black);
    text-transform: uppercase;
    font-weight: 500;
    font-size: clamp(1rem, 1vw, 2rem);
    padding: .5em;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .navigation__button-burger {
    display: block;
    position: relative;
    height: 10px;
    width: 40px;
  }
  .navigation__button-burger::before, .navigation__button-burger::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--clr-black);
  }
  .navigation__button-burger::before {
    position: absolute;
    top: 0;
    right: 0;
  }
  .navigation__button-burger::after {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .navigation.active {
    -webkit-box-shadow: 0px 0px 10px 0px #0000003b;
            box-shadow: 0px 0px 10px 0px #0000003b;
  }
}

@-webkit-keyframes dropMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes dropMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@media screen and (min-width: 567px) {
  .navigation__content {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 765px) {
  .navigation__content {
    padding: 1rem 5rem;
  }
  .navigation__button-burger {
    display: none;
  }
  .navigation__menu {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    width: auto;
    -webkit-animation: inherit;
            animation: inherit;
    background-color: inherit;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about__right__title {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about__right {
    max-width: 1000px;
  }
}

.work {
  margin-bottom: 9.3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.work .container-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .work .container-title {
    left: 5rem;
  }
}

.work__title {
  -webkit-animation: slideText 15s infinite linear;
          animation: slideText 15s infinite linear;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.work .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 7rem;
}

@-webkit-keyframes slideText {
  0% {
    -webkit-transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
            transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
  }
  100% {
    -webkit-transform: translate(0%, -100%) translate3d(0px, 0px, 0px);
            transform: translate(0%, -100%) translate3d(0px, 0px, 0px);
  }
}

@keyframes slideText {
  0% {
    -webkit-transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
            transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
  }
  100% {
    -webkit-transform: translate(0%, -100%) translate3d(0px, 0px, 0px);
            transform: translate(0%, -100%) translate3d(0px, 0px, 0px);
  }
}

@media screen and (min-width: 768px) {
  .work__wrapTitles {
    margin-bottom: 7rem;
  }
}

@media screen and (min-width: 768px) {
  .button {
    letter-spacing: 1px;
  }
}

.callToAction {
  position: absolute;
  bottom: 4.5em;
  right: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.callToAction a {
  text-decoration: none;
  font-size: clamp(11px, 1vw, 16px);
}

.card {
  width: 100%;
  max-width: 800px;
  bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.card .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  margin-bottom: 1rem;
}

.card .card__number {
  font-size: 3rem;
  font-weight: 800;
}

.card .card__title {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.card .card__subtitle {
  font-size: 1rem;
  color: var(--clr-black);
}

.card .card__img {
  -webkit-box-shadow: 0px 0px 5px 0px #00000021;
          box-shadow: 0px 0px 5px 0px #00000021;
  width: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 1000px;
  }
  .card .card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.5em;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
  height: 100vh;
  max-height: 800px;
}

.hero__title {
  font-size: clamp(25px, 4vw, 50px);
  color: var(--clr-black);
  margin-bottom: 6px;
}

.hero__title span {
  font-weight: bold;
}

.hero__gradient-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(100px, 11vw, 300px);
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #54c4c2), color-stop(40%, #dfc349), color-stop(60%, #bd54c5), color-stop(80%, #54c47d));
  background: linear-gradient(to right, #54c4c2 20%, #dfc349 40%, #bd54c5 60%, #54c47d 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 30s linear infinite;
          animation: shine 30s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.hero__text {
  color: var(--clr-black);
  text-transform: uppercase;
}

.hero__right {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.hero__right::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.5%;
  width: 100%;
  height: 85%;
  z-index: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #54c4c2), color-stop(40%, #dfc349), color-stop(60%, #bd54c5), color-stop(80%, #54c47d));
  background: linear-gradient(to right, #54c4c2 20%, #dfc349 40%, #bd54c5 60%, #54c47d 80%);
  background-size: 200% auto;
  -webkit-animation: shine 30s linear infinite;
          animation: shine 30s linear infinite;
  opacity: .4;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.hero__right__img {
  display: block;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 330px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 4em;
  }
}

@media screen and (min-width: 991px) {
  .hero {
    padding: 0 6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  margin-bottom: 2em;
}

.section .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .content .wrapper-form-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 5em;
          column-gap: 5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .content-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.section .content-reverse .leftContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .ImgSection {
  display: block;
  width: 100%;
}

.section.intro {
  min-height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 5em 4em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 5em;
    max-width: 1600px;
  }
  .section .content .wrapper-form-exp {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5em;
            column-gap: 5em;
    justify-items: center;
  }
  .section .content .leftContent, .section .content .rightContent {
    width: 50%;
  }
}

@media screen and (min-width: 991px) {
  .section {
    padding: 5em 6em;
  }
}

.socialMediaIcons .containerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  color: var(--clr-grey);
  text-decoration: none;
  font-size: 2.2em;
  opacity: .5;
}

.socialMediaIcons .containerIcons a {
  text-decoration: inherit;
}

.hero {
  position: relative;
}

.hero .socialMediaIcons {
  position: absolute;
  bottom: 4em;
  right: 2em;
}

.hero .socialMediaIcons .containerIcons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.viewMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2em;
}

.viewMore .title {
  text-align: center;
}

.viewMore a {
  text-decoration: none;
}

.viewMore img {
  width: 80%;
  display: block;
  margin: auto;
}

footer {
  background: var(--clr-lighterblack);
  margin-bottom: 0;
}

footer .section {
  margin-bottom: 0;
}

footer .container-icons-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

footer .footer__icon-social {
  width: 35px;
  opacity: .8;
  -webkit-transition: all .4s;
  transition: all .4s;
}

footer .footer__icon-social:hover {
  opacity: 1;
}

footer #github-icon {
  -webkit-filter: var(--svg-black);
          filter: var(--svg-black);
}

#project-header.heroSection {
  padding: 0 4em;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  position: relative;
  height: 90vh;
}

#project-header .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project-header .header__title {
  z-index: 1;
}

#project-header .header__img {
  position: absolute;
  height: 90vh;
  width: 60%;
  right: 0;
  top: 0;
  background-image: url("../../images/young-coding.jpg");
  background-size: cover;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  z-index: 0;
}

.project__link {
  height: 100%;
  width: 100%;
  max-height: 450px;
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project__link .project__link__img {
  width: 100%;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: saturate(0.5);
          filter: saturate(0.5);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.project__link .project__link__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
}

#project-live-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.section-contact {
  background-color: var(--clr-lighterblack);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.section-contact .content {
  margin-top: 100px;
}

.section-contact .contact__button {
  border-radius: 5px;
  width: 120px;
  padding: 1em 1.5em;
  color: var(--clr-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.section-contact .contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4em;
          column-gap: 4em;
  margin: 3em 0;
}

@media screen and (min-width: 568px) {
  .section-contact .contact__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    row-gap: 0;
  }
}

.section-contact .contact__link {
  border: hidden;
  -webkit-column-gap: 0.7rem;
          column-gap: 0.7rem;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 1;
}

@media screen and (min-width: 568px) {
  .section-contact .contact__link {
    opacity: 7;
  }
}

.section-contact .contact__link:hover {
  opacity: 1;
}

.section-contact .contact__link .contact__link__icon {
  width: 45px;
}

.section-contact .text {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */