.navigation {    
    display: flex;    
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    #navContent {        
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 2em;
    }

    a {
        text-decoration: none;
        width: fit-content;
    }

    #homeLogo, .linkNav {
        text-transform: uppercase;
        color: $clr-grey;
        letter-spacing: $space2;
    }

    #homeLogo {
        img {
            display: block;
            height: 30px;
        }
    }

    .menu {
        display: flex;
        gap: 5em; 
        flex-basis: auto;
        flex-grow: 1;
        justify-content: flex-end;       
    }

    .linkNav {
        color: $clr-grey;
        font-weight: $regular;
        padding: .5em;
        position: relative;
        transition: .5s all;
        
        &::after {
            content: "";
            position: absolute;
            width: 0;
            background: $clr-grey;
        }

        &:hover::after {
            height: 1px;
            width: 100%;            
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    #btnBurger {
        display: none;
    }    
}

.navigation.active {
    box-shadow: $boxShadow;
    background: $clr-black;
}

.mobileMenu {
    display: none;
}

@media screen and (max-width: 768px) {    

    .navigation {
        flex-wrap: wrap;

        #navContent {
            flex-wrap: inherit;
        }
        
        .menu {
            display: none;
            transition: .5s;
        }

        .menu.active {
            display: flex;
            flex-basis: 100%;        
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em; 
            height: calc(100vh - 78px);           
        }

        #btnBurger {
            display: block;
            height: 20px;
            width: 50px;
            position: relative;
            cursor: pointer;

            &::before, &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background: $clr-grey;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    } 

    .navigation.menuActive {
        height: 100vh;
        overflow: hidden;
    }
}

